$--backgroundColor: #fff;
$--secondary: #000;
$--borderWidth: 1px;

body {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.bloobloom {
  &__menu {
    background-color: $--backgroundColor;
    height: calc(100vh - 50px);
    width: calc(100% / 3);
    border-style: solid;
    border-width: $--borderWidth $--borderWidth 0px 0px;
    border-color: $--secondary;
    position: fixed;
    overflow-x: hidden;
    top: 50px;
    z-index: 10;
    transition: all 0.4s ease;
    ul {
      list-style: none;
    }
    left: calc(-100% / 3);

    &__open {
      left: 0;
    }
    &__tab {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      border-bottom: $--borderWidth solid $--secondary;
      cursor: pointer;
      color: $--secondary;
      &:hover {
        color: white;
        background-color: $--secondary;
      }
    }

    &__title {
      font-family: "Acumin Pro";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      margin-left: 18px;
    }
    &__icon {
      margin-right: 18px;
    }
  }

  &__container {
    position: relative;
  }

  &__header {
    height: 50px;
    border-bottom: solid $--borderWidth $--secondary;
    width: 100%;
    z-index: 20;
    &__button {
      width: 160px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      &__opened {
        text-decoration: underline;
      }
    }
  }
}
