$--backgroundColor: #fff;
$--secondary: #000;
$--borderWidth: 1px;
$--borderStyle: solid;
$--tabletMin: 768px;
$--tabletMax: 1023px;
$--laptop: 1024px;
$--menuWidthMobile: 50vw;
$--menuWidthDesktop: calc(100% / 3);

* {
  box-sizing: border-box;
}

@mixin gallery__button {
  height: 100%;
  width: 20%;
  opacity: 0;
  position: absolute;
  top: 0;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid red;
  background-color: red;
  bottom: 0;
}

body {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.desktop__only {
  display: none !important;
  @media (min-width: $--laptop) {
    display: flex !important;
  }
}
.mobile__only {
  display: none !important;
  @media (max-width: $--tabletMax) {
    display: flex !important;
  }
}

.bloobloom {
  &__menu {
    background-color: $--backgroundColor;
    height: calc(100vh - 50px);
    border-style: $--borderStyle;
    border-width: $--borderWidth $--borderWidth 0px 0px;
    border-color: $--secondary;
    position: fixed;
    overflow-x: hidden;
    top: 50px;
    z-index: 10;
    transition: all 0.4s ease;
    left: -$--menuWidthMobile;
    width: $--menuWidthMobile;
    @media (min-width: $--laptop) {
      left: -$--menuWidthDesktop;
      width: $--menuWidthDesktop;
    }
    ul {
      list-style: none;
    }

    &__open {
      left: 0;
    }
    &__tab {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      border-bottom: $--borderWidth $--borderStyle $--secondary;
      cursor: pointer;
      color: $--secondary;
      &:hover {
        color: white;
        background-color: $--secondary;
      }
    }

    &__title {
      font-family: "Acumin Pro";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      margin-left: 18px;
    }
    &__icon {
      margin-right: 18px;
    }
  }

  &__container {
    position: relative;
  }

  &__header {
    height: 50px;
    border-bottom: $--borderStyle $--borderWidth $--secondary;
    width: 100%;
    z-index: 20;
    &__button {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 100%;
      @media (min-width: $--laptop) {
        width: 160px;
      }

      &__opened {
        text-decoration: underline;
      }
    }
  }
  &__filters__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
      height: 120px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 10px;

      @media (min-width: $--laptop) {
        flex-direction: row;
        padding: 0 60px;
        justify-content: space-between;
        height: 60px;
      }
      &__hto {
        height: 100%;
        font-family: "Acumin Pro";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        opacity: 0;
        display: none;
        @media (min-width: $--laptop) {
          display: block;
        }
      }
      &__collectionname {
        position: relative;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: $--secondary;
        width: 100%;
      }
      &__filterbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        font-size: 15px;
        line-height: 24px;
        justify-content: center;

        @media (min-width: $--laptop) {
          display: block;
          height: 100%;
        }

        .filter__search__div {
          cursor: pointer;
          display: flex;
          position: relative;
          height: 100%;
          align-items: center;
          justify-content: center;
          @media (min-width: $--laptop) {
            margin-right: 30px;
          }
        }
        .filter__div__title {
          margin-right: 5px;
        }
        .filter__div__button {
          display: flex;
          position: relative;
        }
        .filter__div__counter {
          z-index: 1;
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          top: -8px;
          right: -6px;
          height: 18px;
          width: 18px;
          border-radius: 100%;
          background: $--backgroundColor;
          box-shadow: $--borderWidth $--borderWidth $--borderWidth
            rgb(0 0 0 / 70%);
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 60px;
          text-align: center;
          color: $--secondary;
        }
      }
    }
    .filter__container__main {
      overflow: hidden;
      border-top: $--borderWidth $--borderStyle;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease 0ms;
      display: none;
      @media (min-width: $--laptop) {
        display: block;
      }

      &.filter__container__main__open {
        max-height: 400px !important;
      }
      &.filter__container__main__closed {
        max-height: 0 !important;
      }
      &__filters {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-bottom: $--borderWidth $--borderStyle $--secondary;

        .filter__panel {
          display: flex;
          flex-direction: column;
          width: 50%;
          border-right: $--borderWidth $--borderStyle $--secondary;

          &__title {
            display: flex;
            width: 100%;
            height: 60px;
            justify-content: center;
            align-items: center;
            border-bottom: $--borderWidth $--borderStyle $--secondary;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
          }

          &__holder {
            width: 100%;
            height: 120px;
            justify-content: space-evenly;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: capitalize;

            .fit__div {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }

      &__footer {
        display: flex;
        width: 100%;
        min-height: 60px;
        border-bottom: $--borderWidth $--borderStyle $--secondary;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        .footer__filters__start {
          display: flex;
          width: calc(50% - 102px);

          .footer__filters__list {
            display: flex;
            overflow: hidden;
            flex-wrap: wrap;

            .filter__tag {
              display: flex;
              height: 50px;
              align-items: center;
              justify-content: center;
              margin-right: 18px;

              span {
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                display: flex;
                align-items: center;
                margin-right: 9px;
              }
            }
          }
        }

        .footer__filters__results {
          display: flex;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          font-feature-settings: "pnum" on, "lnum" on;
        }

        .footer__filters__end {
          display: flex;
          width: calc(50% - 102px);
          align-items: center;
          justify-content: flex-end;

          .footer__filters__clear__button {
            cursor: pointer;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            display: flex;
            text-align: left;
            color: $--secondary;
          }
        }
      }
    }
  }

  &__collection {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: $--backgroundColor;

    @media (min-width: $--tabletMin) and (max-width: $--tabletMax) {
      grid-template-columns: 50% 50%;
    }

    @media (min-width: $--laptop) {
      grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    }

    &__item {
      width: 100%;
      height: 100%;
      display: flex;
      border-right: $--borderWidth $--borderStyle $--secondary;
      border-bottom: $--borderWidth $--borderStyle $--secondary;
      box-sizing: border-box;
      background-color: $--backgroundColor;

      &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #f6f6f4;
        box-sizing: border-box;
      }

      &__name {
        display: flex;
        width: 100%;
        top: 20px;
        position: absolute;
        height: 40px;
        z-index: 5;
        justify-content: center;
        align-items: center;
        font-family: "Acumin Pro";
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        .variant___name {
          font-weight: 300;
        }
        @keyframes namechange {
          from {
            transform: translateY(20px);
            opacity: 0;
          }
          to {
            transform: translateY(0);
            opacity: 1;
          }
        }

        @mixin change__name {
          animation-duration: 0.2s;
          animation-timing-function: linear;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-fill-mode: none;
          animation-play-state: running;
          animation-name: namechange;
        }
        .changeName-enter-active {
          @include change__name;
          animation-direction: normal;
        }
        .changeName-leave-active {
          @include change__name;
          animation-direction: reverse;
        }

        .glass__name {
          font-weight: 500;
          margin-right: 5px;
        }
      }

      &__slider {
        margin-bottom: 40px;

        .thumbnail {
          position: relative;
          transition: opacity 0.3s ease-in;
          margin: 0;
          box-sizing: border-box;
          overflow: hidden;
          .image__gallery {
            width: 100%;
            height: 352px;
            position: relative;

            .image__gallery__button__right {
              @include gallery__button;
              right: 0;
            }
            .image__gallery__button__left {
              @include gallery__button;
              left: 0;
            }
          }
        }
      }

      &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: $--backgroundColor;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        border-top: $--borderWidth $--borderStyle $--secondary;

        .footer__color__buttons {
          position: relative;
          display: flex;
          align-content: center;
          justify-content: center;
          flex-grow: 1;
          height: 100%;

          .footer__color__button {
            cursor: pointer;
            height: 100%;
            width: 100%;
            border-right: $--borderWidth $--borderStyle $--secondary;
            background-size: cover;
          }
        }
      }
    }
  }
}

.filter__container__mobile {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: $--backgroundColor;
  z-index: 10010;
  border: $--borderWidth $--borderStyle;
  transition: opacity 0.15s ease 0s;

  .screen__main__header {
    height: 50px;
    position: relative;
    width: 100%;
    justify-content: center;
    padding: 0 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: $--borderWidth $--borderStyle $--secondary;

    .close__button {
      cursor: pointer;
      position: absolute;
      right: 24px;
    }
  }

  .screen__main__filters__small {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    .filter__panel {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: $--borderWidth $--borderStyle $--secondary;

      .filter__panel__title {
        cursor: pointer;
        width: 100%;
        height: 50px;
        padding: 0 22px;
        justify-content: space-between;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
      }
      .filter__panel__holder {
        width: 100%;
        overflow: hidden;
        max-height: 0;
        justify-content: space-evenly;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        transition: all 0.2s ease;

        &.filter__panel__holder__open {
          max-height: 110px;
        }

        &.filter__panel__holder__close {
          max-height: 0px;
        }

        .filter__holder {
          display: flex;
          width: 100%;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0 22px;
          height: 50px;
          flex-wrap: wrap;

          .filter__div {
            margin-right: 20px;
          }
        }
      }
    }
  }
  .screen__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    border-top: 1px solid #000;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    @mixin screen_buttons {
      cursor: pointer;
      display: flex;
      width: 50%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    .clear__button {
      border-right: $--borderWidth $--borderStyle $--secondary;
      @include screen_buttons;
    }

    .done__button {
      @include screen_buttons;
    }
  }
  .footer__filters__list {
    display: flex;
    width: 100%;
    padding: 22px;
    overflow: hidden;
    flex-wrap: wrap;

    .filter__tag {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
      margin-right: 18px;
      span {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        margin-right: 9px;
      }
      svg {
        display: flex;
        align-content: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
